##############################
#### Java
##############################
# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs
hs_err_pid*
replay_pid*
#### Java
##############################

##############################
#### Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
#### Maven
##############################

##############################
#### Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
#### Gradle
##############################
